*.bak
*.tmp
*.pyc
*.o

/.dots.git
/.local/include
/.local/share
/.local/lib/python2.7
/.local/lib/python3.4
/.local/var/*
!/.local/var/mpd

/dark-forest/.ncmpcpp/error.log
/dark-forest/.config/nvim/.netrwhist
/dark-forest/.config/nvim/plugged/
/common/.mpd/mpd.db
/common/.mpd/mpd.log
/common/.mpd/mpd.pid
/common/.mpd/mpdstate


# unclutter untracked
/.cache
/.ccache
/.cpan
/.dbus
/.mozilla
/.vim-bookmarks
/.viminfo
/.eclipse
/.thumbnails
/.steam
/.openshot_qt
/.lyrics
/.lpass
/.git-token
/.gnupg
/.gradle
